.container{
    box-sizing: border-box;
    padding-left: 95px;
    width: 1110px;
    height: 480px;
    margin: 0px auto 360px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7816B;
    border-radius: 15px;
    background-image: url('./images/bg-pattern-hero-about-desktop.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: width 0.2s linear, padding 0.2s linear, height 0.2s linear, border-radius 0.2s linear, background-position 0.2s linear;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 460px;
}

.image{
    width: 476px;
    height: 480px;
    border-radius: 0px 15px 15px 0px;
    transition: width 0.2s linear;
}

.title{
    font-family: var(--font);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: white;
    transition: font-size 0.2s linear;
}

.desc{
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: white;
    transition: font-size 0.2s linear;
}

@media(max-width: 1200px){
    .container{
        width: 90%;
    }
    .flex{
        width: 50%;
    }
    .desc{
        width: 90%;
    }
    .image{
        width: 50%;
        object-fit: cover;
    }
}

@media(max-width: 1000px){
    .title{
        font-size: 35px;
    }
    .desc{
        font-size: 14px;
    }
}

@media(max-width: 800px){
    .container{
        flex-direction: column-reverse;
        padding: 0px 0px 64px 0px;
        height: 632px;
        background-position: -100px -100px;
    }
    .image{
        width: 100%;
        height: 320px;
        border-radius: 15px 15px 0px 0px;
    }
    .flex{
        width: 90%;
    }
    .title{
        text-align: center;
        font-size: var(--h1-font-size)
    }
    .desc{
        text-align: center;
        font-size: var(--body-font-size);
        width: 100%;
    }
}

@media(max-width: 670px){
    .flex{
        height: 210px;
    }
}

@media(max-width: 500px){
    .container{
        width: 100%;
        height: 715px;
        border-radius: 0px;
        background-position: -150px 170px;
    }
    .flex{
        height: auto;
    }
    .image{
        border-radius: 0px;
    }
}