.container{
    width: 380px;
    height: 371px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    transition: width 0.2s linear;
}

.submit{
    width: 152px;
    height: 56px;
    background-color: white;
    border-radius: 8px;
    font-family: var(--font);
    font-weight: 500;
    font-size: 15px;
    line-height: 21.68px;
    letter-spacing: 1px;
    border: none;
    align-self: flex-end;
    transition: background-color 0.2s linear, color 0.2s linear;
    cursor: pointer;
}

.submit:hover{
    background-color: #FFAD9B;
    color: white;
}

@media(max-width: 1200px){
    .container{
        width: 50%;
    }
}

@media(max-width: 800px){
    .container{
        width: 100%;
    }
}

@media(max-width: 500px){
    .submit{
        position: relative;
        top: 15px;
        align-self: center;
    }
}